body {
  background-color: #131313;
  color: #e7e7e7;
}

.timer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 700;
  font-family: sans-serif;
}
